@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
}

body{
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
}
header .white{
    width: 40%;
    height: 100%;
    background-color: white;

}
header .blue{
    width: 60%;
    height: 100%;
    background-color: #1f75aa;
    display: flex;

}
header .nav{
    background-color: #1f75aa;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 2rem;
}
header .nav li {
    list-style: none;
}
header .nav li a{
    color: white;
    text-decoration: none;
    font-size: .9rem;
    font-weight: 100;
    text-transform: uppercase;
}
header .nav li a:hover{
    color: #ffda0b;
}
header .white{
    text-align: right;
    width: 40%;
    height: 100%;
    background-color: white;
}
header .white .icon{
    height: 100%;
    padding: 0 2.5rem;
}
header .icon img{
    object-fit: contain;
    height: 100%;
    width: 240px;   
}
/*----- nav-icono-responsive    ----*/
header .hamburger{
    display: none;
    z-index: 20;
    position: absolute;
    right: .5rem;
}
header .blue .nav-icon{
    display: none;
}

/*-------   nav-responsive      -------*/


/*------     banner-outsoursing    --------*/
.banner-outsoursing{
    padding-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/main-background.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%; 
}
.banner-outsoursing .container-outsoursing{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    background: #fff;
}
.banner-outsoursing .container-outsoursing .main-info{
    flex: 1 1 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 2rem 0px 0px 2rem;
}
.banner-outsoursing .container-outsoursing .main-info h2{
    font-size: clamp(25px, 4vw, 60px);/*---------------*/
    text-transform: uppercase;
    color: #144c68;
    padding-bottom: .5rem;
}
.banner-outsoursing .container-outsoursing .main-info ul{
    padding: 1rem 2rem;
    color: #144c68;
}
.banner-outsoursing .container-outsoursing .main-info ul li h4{
    padding: .2rem 0px;
    font-size: 1.1rem;
    font-weight: 700;
}
.banner-outsoursing .container-outsoursing .main-info .second-info h3{
    padding: 1rem 0px;
    font-size: clamp(14px, 2vw, 20px);/*---------------*/
    color: #144c68;
}
.banner-outsoursing .container-outsoursing .main-info .second-info{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-outsoursing .container-outsoursing .main-info .second-info a{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background: #e6c407;
    padding: 1rem 2rem;
    color: #fff;
    border-radius: 10px;
    transition: all 500ms ease;
}
.banner-outsoursing .container-outsoursing .main-info .second-info a:hover{
    background: #144c68;
}
.banner-outsoursing .container-outsoursing .main-info .main-imagen {
    width: 100%;
    min-height: 300px;
}
.banner-outsoursing .container-outsoursing .main-info .main-imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-outsoursing .container-outsoursing main{
    flex: 1 1 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b9d9eb;
    object-fit: cover;
}
.banner-outsoursing .container-outsoursing main figure{
    height: 80%;
    width: 80%;
    object-fit: cover;
}
.banner-outsoursing .container-outsoursing main figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*-----     fin main-outsoursing    -----*/



/*----      main-responsive     -----*/
.outsorsing-responsive{
    width: 100%;
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
.outsorsing-responsive .container-outsorsing-responsive{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.outsorsing-responsive .container-outsorsing-responsive main{
    width: 100%;
    padding: 2rem 0px;
}
.outsorsing-responsive .container-outsorsing-responsive figure{
    width: 100%;
    height: 270px;
    object-fit: cover;
}
.outsorsing-responsive .container-outsorsing-responsive figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.outsorsing-responsive .container-outsorsing-responsive main h2{
    font-size: clamp(25px, 2vw, 30px);/*---------------*/
    text-transform: uppercase;
    color: #144c68;
}
.outsorsing-responsive .container-outsorsing-responsive main ul{
    padding: 1rem 2rem;
    color: #144c68;
}
.outsorsing-responsive .container-outsorsing-responsive main ul li h4{
    padding: .2rem 0px;
    font-size: 1.1rem;
    font-weight: 700;
}
.outsorsing-responsive .container-outsorsing-responsive main .second-info{
    width: 100%;
    min-height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.outsorsing-responsive .container-outsorsing-responsive main .second-info h3{
    padding: 1rem 0px;
    font-size: clamp(14px, 2vw, 20px);/*---------------*/
    color: #144c68;
}
.outsorsing-responsive .container-outsorsing-responsive main .second-info a{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background: #e6c407;
    padding: 1rem 2rem;
    color: #fff;
    border-radius: 10px;
    transition: all 500ms ease;
}
.outsorsing-responsive .container-main-img{
    width: 90%;
}
.outsorsing-responsive .container-main-img figure{
    width: 100%;
    height: 270px;
}
.outsorsing-responsive .container-main-img figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*------    */

/*-------   icono-flotante      -------*/
.banner-outsoursing .icon-float{
    position: fixed;
    z-index: 300;
    bottom: 3rem;
    right: 3rem;
}
.banner-outsoursing .icon-float a{
    text-decoration: none;
}
.banner-outsoursing .icon-float a .ri-whatsapp-line{
    font-size: 3.5rem;
    color: white;
    background-color: #2fba37;
    border-radius: 100px;
    padding: .5rem;
}


/*------ contenido------*/
/* Define a transition duration during page visits */
.transition-fade{
    transition: .9s;
    opacity: 1;
}
html.is-changing .transition-fade {
    opacity: 0;
}
/* Define the styles for the unloaded pages */
html.is-animating .transition-fade {
  opacity: 0;
  transform: translateY(-100px);
}

/*  ----- overlay     */



/*----   responsive-banner-main     -----*/
@media(max-width: 1000px){
    .banner-main .container-main{
        width: 95%;
        gap: 0;
    }
    .banner-main .container-main figure{
        padding: 1rem 0px;
    }
    .banner-main .container-main main figure{
        height: 60%;
        width: 90%;
    }
    .banner-main .container-main main figure img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .banner-main .container-main .main-info{
    flex: 1 1 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 2rem 2rem 0px 2rem;
    }
}
/*-----     main-responsive*/
@media(max-width: 757px){
    .outsorsing-responsive{
        display: flex;
    }
    .banner-outsoursing{
        display: none; 
    }
}

/*------  nav-links   ------*/
@media (max-width: 1075px){
    header .white{
        width: 30%;
    }
    header .blue{
        width: 80%;
    }
    header .nav{
        width: 100%;
        padding: 0 1rem;
    }

}
@media (max-width:723px){
    /*--*/
    header .white{
        display: block;
    }
    header .blue{
        width: 100%;
    }
    header .blue .nav{
        display: none;
    }
    header nav{
        display: flex;
    }
     /*------*/
    header .blue .nav{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 5rem;
        height: 100dvh;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: .4s ease-in-out;
    }
    header .blue .nav .menu_item{
        padding-bottom: 1.5rem;   
    }
    header .blue .nav .menu_item a{
        font-size: 1.5rem;
    }
    header .blue .nav.is-active{
        transform: translateX(0);
    }
    header .hamburger{
        display: block;
        
    }
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
    background-color: white !important;
    }
    header .blue .nav .nav-icon{
        display: flex;
        width: 90%;
        padding-top: 2rem;
        justify-content: space-between;
    }
    header .nav .nav-icon li a{
        font-size: 1.5rem;
    }
}
/*--------*/
@media(max-width: 971px){
 header .white{
        width: 35%;
    }
    header .blue{
        width: 75%;
    }
}
@media (max-width: 829px){
    header .white{
        width: 40%;
    }
    header .blue{
        width: 65%;
    }
    header .white .icon{
    height: 100%;
    padding: 0 1rem;
}
}
@media (max-width: 663px){
    header .white{
        width: 50%;
        text-align: center;
    }
    header .blue{
        width: 50%;
    }
}
@media (max-width: 789px){
    header .nav{
    padding: 0 .5rem;
}
}
@media(max-width: 533px){
    header .white{
        width: 75%;
        text-align: center;
    }
    header .blue{
        width: 25%;
    }
}





/*------        footer  -------*/
footer{
    width: 100%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}
footer .container-footer{
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
footer .container-footer a{
    font-size: .9rem;
    text-decoration: none;
    color: #1f75aa;
    padding: 1rem 0px;
}
footer .container-footer .icons{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
footer .container-footer .icons a{
    font-size: 2rem;
    color: white;
}
footer .container-footer .icons a i{
    background: black;
    padding: .5rem;
    border-radius: 100%;
}
/*-----*/
footer #ir_arriba_boton button{
    position: fixed;
    bottom: 40%;
    right: 3rem;
    background: none;
    border: none;
    transition: all .6s;
    z-index: 50;
    display: none;
}
footer #ir_arriba_boton button i{
    font-size: 2rem;
    color: white;
    background: #1f75aa;
    padding: .7rem .7rem;
    border-radius: 50%;
}
#ir_arriba_boton .ocultar{
    opacity: 0;
    visibility: hidden;
}
#ir_arriba_boton .mostrar{
    opacity: 1;
    visibility: visible;
}
footer #ir_arriba_boton button:hover{
    cursor: pointer;
    transform: scale(1.1);
}




@media (max-width: 667px){
    .banner-outsoursing .container-outsoursing .main-info{
    padding: 2rem;
}
}





/*------    footer    ------*/
@media (max-width:725px){
    footer .container-footer{
    width: 100%;
     padding: .5rem;
}
}
@media(max-width:515px){
footer .container-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

}


/*------    boton   -----*/
@media (max-width: 723px){
    footer #ir_arriba_boton button{
    display: block;
}
}


/*------    provicional-para-libreria ------*/



.fade-in {
  opacity: 0;
  animation: fadeIn 2s forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-out {
  opacity: 0;
  transition: opacity 0.8s ease;
}
