@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
}

body{
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
}
header .white{
    width: 40%;
    height: 100%;
    background-color: white;

}
header .blue{
    width: 60%;
    height: 100%;
    background-color: #1f75aa;
    display: flex;

}
header .nav{
    background-color: #1f75aa;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}
header .nav li {
    list-style: none;
}
header .nav li a{
    color: white;
    text-decoration: none;
    font-size: .9rem;
    font-weight: 100;
    text-transform: uppercase;
    padding: 0 1.5rem;
}
header .nav li a:hover{
    color: #ffda0b;
}
header .white{
    text-align: right;
    width: 40%;
    height: 100%;
    background-color: white;
}
header .white .icon{
    height: 100%;
    padding: 0 2.5rem;
}
header .icon img{
    height: 100%;
    width: 240px;
}
/*----- nav-icono-responsive    ----*/

/*-----------------------------------*/
header nav{
    display: none;
    position: absolute;
    right: 0;
    width: 80%;
    top: 0;
}
header nav .container {
  max-width: 1050px;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;

}

header nav .navbar {
  width: 100%;
  height: 100%;

}

header nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

header nav .navbar .menu-items {
  display: flex;
}

header nav .navbar .nav-container li {
  list-style: none;
}

header nav .navbar .nav-container a {
  text-decoration: none;
  color: #fff;
  font-weight: 100;
  font-size: 1.2rem;
  padding: 0.5rem;
}

header nav .navbar .nav-container a:hover{
    font-weight: bolder;
}

header nav .nav-container {
  display: block;
  position: relative;
  height: 100%;
}

header nav .nav-container .checkbox {
  position: absolute;
  display: block;
  height: 50px;
  width: 50px;
  top: 1.5rem;
    right: 1.5rem;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

header nav .nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header nav .nav-container .hamburger-lines .line {
  display: block;
  height: 3px;
  width: 100%;
  background: #fff;
}

header nav .nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

header nav .nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

header nav .nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
header nav .navbar .menu-items {
  padding-top: 70px;
  background: #1f75aa;
  height: 300vh;
  width: 100%;
  transform: translate(150%);   
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 3rem;
  transition: transform 0.5s ease-in-out;
  position: relative;

}

header nav .navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}
header nav .navbar .menu-items .info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0px;

}
header nav .navbar .menu-items hr{
    border: .5px solid #ffffff46;
}
header nav .navbar .menu-items  .info span {
    display: flex;
}

header nav .navbar .menu-items  .info span i{
    color: white;
    font-size: 2rem;
}
header nav .navbar .menu-items  .info span a{
    font-size: 1rem;
}
header nav .navbar .menu-items .links-networks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
header nav .nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

header nav .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

header nav .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

header nav .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

/*-------   nav-responsive      -------*/


/*------     banner-main    --------*/
.banner-main{
    padding-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/images/main-background.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 100%; 
}
.banner-main .container-main{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    background: #fff;
}
.banner-main .container-main .main-info{
    flex: 1 1 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 2rem 0px 0px 2rem;
}
.banner-main .container-main .main-info h2{
    font-size: clamp(40px, 4vw, 60px);/*---------------*/
    text-transform: uppercase;
    color: #144c68;
    padding-bottom: .5rem;
}
.banner-main .container-main .main-info ul{
    padding: 1rem 2rem;
    color: #144c68;
}
.banner-main .container-main .main-info ul li h4{
    padding: .2rem 0px;
    font-size: 1.1rem;
    font-weight: 700;
}
.banner-main .container-main .main-info .second-info h3{
    padding: 1rem 0px;
    font-size: clamp(14px, 2vw, 20px);/*---------------*/
    color: #144c68;
}
.banner-main .container-main .main-info .second-info{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-main .container-main .main-info .second-info a{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background: #e6c407;
    padding: 1rem 2rem;
    color: #fff;
    border-radius: 10px;
    transition: all 500ms ease;
}
.banner-main .container-main .main-info .second-info a:hover{
    background: #144c68;
}
.banner-main .container-main .main-info .main-imagen {
    width: 100%;
    min-height: 300px;
}
.banner-main .container-main .main-info .main-imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-main .container-main main{
    flex: 1 1 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b9d9eb;
    object-fit: cover;
}
.banner-main .container-main main figure{
    height: 80%;
    width: 80%;
    object-fit: cover;
}
.banner-main .container-main main figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*----      main-responsive     -----*/
.main-responsive{
    width: 100%;
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
.main-responsive .container-main-responsive{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}
.main-responsive .container-main-responsive main{
    padding: 2rem 0px;
}
.main-responsive .container-main-responsive figure{
    width: 100%;
    height: 270px;
    object-fit: cover;
}
.main-responsive .container-main-responsive figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-responsive .container-main-responsive main h2{
    font-size: clamp(25px, 2vw, 30px);/*---------------*/
    text-transform: uppercase;
    color: #144c68;
}
.main-responsive .container-main-responsive main ul{
    padding: 1rem 2rem;
    color: #144c68;
}
.main-responsive .container-main-responsive main ul li h4{
    padding: .2rem 0px;
    font-size: 1.1rem;
    font-weight: 700;
}
.main-responsive .container-main-responsive main .second-info{
    width: 100%;
    min-height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-responsive .container-main-responsive main .second-info h3{
    padding: 1rem 0px;
    font-size: clamp(14px, 2vw, 20px);/*---------------*/
    color: #144c68;
}
.main-responsive .container-main-responsive main .second-info a{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background: #e6c407;
    padding: 1rem 2rem;
    color: #fff;
    border-radius: 10px;
    transition: all 500ms ease;
}
.main-responsive .container-main-img{
    width: 90%;
}
.main-responsive .container-main-img figure{
    width: 100%;
    height: 270px;
}
.main-responsive .container-main-img figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*------    */

/*-------   icono-flotante      -------*/
.banner-main .icon-float{
    position: fixed;
    z-index: 300;
    bottom: 3rem;
    right: 3rem;
}
.banner-main .icon-float a{
    text-decoration: none;
}
.banner-main .icon-float a .ri-whatsapp-line{
    font-size: 3.5rem;
    color: white;
    background-color: #2fba37;
    border-radius: 100px;
    padding: .5rem;
}







/*----   responsive-banner-main     -----*/
@media(max-width: 1000px){
    .banner-main .container-main{
        width: 95%;
        gap: 0;
    }
    .banner-main .container-main figure{
        padding: 1rem 0px;
    }
    .banner-main .container-main main figure{
        height: 60%;
        width: 90%;
    }
    .banner-main .container-main main figure img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .banner-main .container-main .main-info{
    flex: 1 1 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding: 2rem 2rem 0px 2rem;
    }
}
/*-----     main-responsive*/
@media(max-width: 757px){
    .main-responsive{
        display: flex;
    }
    .banner-main{
        display: none; 
    }
}


@media (max-width: 667px){
    .banner-outsoursing .container-outsoursing .main-info{
    padding: 2rem;
}
}


/*------    provicional-para-libreria ------*/



.fade-in {
  opacity: 0;
  animation: fadeIn 2s forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-out {
  opacity: 0;
  transition: opacity 0.8s ease;
}





















/*------  nav-links   ------*/
@media (max-width: 1075px){
    header .white{
        width: 30%;
    }
    header .blue{
        width: 80%;
    }
}
@media (max-width:815px){
    header .nav li a{
        padding: 0 1rem;
    }
}
@media (max-width:723px){
    /*--*/
    header .white{
        display: block;
    }
    header .blue{
        width: 100%;
    }
    header .blue .nav{
        display: none;
    }
    header nav{
        display: flex;
    }
}
/*--------*/
@media(max-width: 971px){
    header .nav li a{
    padding: 0 .9rem;
}
 header .white{
        width: 35%;
    }
    header .blue{
        width: 75%;
    }
}
@media (max-width: 829px){
    header .nav li a{
    padding: 0 .5rem;
}
    header .white{
        width: 40%;
    }
    header .blue{
        width: 65%;
    }
    header .white .icon{
    height: 100%;
    padding: 0 1rem;
}
}
@media (max-width: 663px){
    header .white{
        width: 50%;
        text-align: center;
    }
    header .blue{
        width: 50%;
    }
}
@media (max-width: 789px){
    header .nav{
    padding: 0 .5rem;
}
}
@media(max-width: 533px){
    header .white{
        width: 75%;
        text-align: center;
    }
    header .blue{
        width: 25%;
    }
}





/*------        footer  -------*/
footer{
    width: 100%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}
footer .container-footer{
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
footer .container-footer a{
    font-size: .9rem;
    text-decoration: none;
    color: #1f75aa;
    padding: 1rem 0px;
}
footer .container-footer .icons{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
footer .container-footer .icons a{
    font-size: 2rem;
    color: white;
}
footer .container-footer .icons a i{
    background: black;
    padding: .5rem;
    border-radius: 100%;
}
/*-----*/
footer #ir_arriba_boton button{
    position: fixed;
    bottom: 40%;
    right: 3rem;
    background: none;
    border: none;
    transition: all .6s;
    z-index: 300;
    display: none;
}
footer #ir_arriba_boton button i{
    font-size: 2rem;
    color: white;
    background: #1f75aa;
    padding: .7rem .7rem;
    border-radius: 50%;
}
#ir_arriba_boton .ocultar{
    opacity: 0;
    visibility: hidden;
}
#ir_arriba_boton .mostrar{
    opacity: 1;
    visibility: visible;
}
footer #ir_arriba_boton button:hover{
    cursor: pointer;
    transform: scale(1.1);
}










/*------    footer    ------*/
@media (max-width:725px){
    footer .container-footer{
    width: 100%;
     padding: .5rem;
}
}
@media(max-width:515px){
footer .container-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

}


/*------    boton   -----*/
@media (max-width: 723px){
    footer #ir_arriba_boton button{
    display: block;
}
}