@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
}
body {
    text-align: center;
}
.fade-section {
    opacity: 1;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.hidden {
    opacity: 0;
    transform: translateY(-50px);
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
}
header .white{
    width: 40%;
    height: 100%;
    background-color: white;
}
header .blue{
    width: 60%;
    height: 100%;
    background-color: #1f75aa;
    display: flex;

}
header .nav{
    background-color: #1f75aa;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 2rem;
}
header .nav li {
    list-style: none;
}
header .nav li a{
    color: white;
    text-decoration: none;
    font-size: .9rem;
    font-weight: 100;
    text-transform: uppercase;
}
header .nav li a:hover{
    color: #ffda0b;
}
header .white{
    text-align: right;
    width: 40%;
    height: 100%;
    background-color: white;
}
header .white .icon{
    height: 100%;
    padding: 0 2.5rem;
}
header .icon img{
    object-fit: contain;
    height: 100%;
    width: 240px;
}
/*----- nav-icono-responsive    ----*/
header .hamburger{
    display: none;
    z-index: 20;
    position: absolute;
    right: .5rem;
}
header .nav .nav-icon{
    display: none;
}

/*-----------------------------------*/





/*-------   nav-responsive      -------*/



/*----      banner-main     ----*/
.banner-main{
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.banner-main video{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    bottom: -1rem;
    object-fit: cover;
}
.banner-main video #myVideo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-main .container-main{
    top: 4rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 20;
    color: white;
}
.banner-main .container-main h2{
    font-size: clamp( 30px,4vw,47px);
    color: #fff;
    text-transform: uppercase;
}
.banner-main .container-main p{
    font-size: clamp(20px, 2vw, 30px);
    color: #fff;
    padding: 1rem 1rem;
}
.banner-main .container-main a{
    text-decoration: none;
    cursor: pointer;
    
}
.banner-main .container-main a i{
    font-size: 7rem;
    color: white;
}
.banner-main .container-main .button-index{
    background: none;
    border: none;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    background-color: #1f75aa;
    border-radius: 10px;
    padding: .5rem;
    font-weight: 700;
    transition: all 500ms ease;
    cursor: pointer;
}
.banner-main .container-main .button-index:hover{
    background-color: #ffda0b;
}

.banner-main .icon-float{
    position: fixed;
    z-index: 10;
    bottom: 3rem;
    right: 3rem;
}
.banner-main .icon-float a{
    text-decoration: none;
}
.banner-main .icon-float a .ri-whatsapp-line{
    font-size: 3.5rem;
    color: white;
    background-color: #2fba37;
    border-radius: 100px;
    padding: .5rem;
}



/*-----  banner-sercive     -------*/
.banner-service{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0px;
    background: white;
    z-index: 1;
}
.banner-service h2{
    font-size: 4rem;
    text-transform: uppercase;
    color: #144c68;
    padding-bottom: .5rem;
}
.banner-service hr{
    width: 10%;
    z-index: 2;
    border: 6px solid #f7c519;
}
.banner-service .container-box{
    padding: 2rem 0px;
}
.banner-service .container-box{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.banner-service .container-box .box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #144c68;
    position: relative;
    transition:all .4s;
}
.banner-service .container-box .box .box-text{
    width: 50%;
    padding: 0px 1rem;
}
.banner-service .container-box .box .box-text h2{
    font-size: clamp(22px, 2vw, 25px);/*---------------*/
    color: white;
    text-transform: uppercase;
    transition:all .5s;
}
/*---boton---*/
.banner-service .container-box .box .box-text .know{
    font-size: clamp(10px, 1.7vw, 32px);/*---------------*/
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    background-color: #f7c519;
    padding: .5rem;
    font-weight: 700;
    border-radius: 10px;
    opacity: 0;
    z-index: 10;
}
.banner-service .container-box .box .box-text .know:hover{
    background: #144c68;
}
.banner-service .container-box .box figure{
    width: 50%;
    height: 420px;
    overflow: hidden;
    object-fit: cover;
}
.banner-service .container-box .box figure img{
    width: 100%;
    height: 100%;
    transition:all .5s;
    object-fit: cover;
}
/*hover box*/
.banner-service .container-box .box:hover h2{
    transform: translateY(-80%);
    transition:all .5s;
}
.banner-service .container-box .box:hover .know{
    opacity: 1;
    transition:all .5s;
}
.banner-service .container-box .box:hover img{
    transform: scale(1.2);
    transition:all .5s;
}
.banner-service .container-box .box:hover{
    transform: scale(1.1);
}


/*------    banner-responsive-box       --------*/
.banner-service .responsive-box{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    display: none;
}
.banner-service .responsive-box {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    display: none;
}
.banner-service .responsive-box .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0px  1px 10px rgba(0, 0, 0, 0.2);
    padding: 2rem;
}
.banner-service .responsive-box .box .box-text{
    width: 100%;
    margin-bottom: 1.5rem;
}
.banner-service .responsive-box .box .box-text h2{
    font-size: 2.3rem;
    color: #1f75aa;
    text-transform: uppercase;
    transition:all .5s;
}
.banner-service .responsive-box .box .box-text h4{
    font-size: 1.2rem;
    font-weight: 200;
    color: #1f75aa;
}
.banner-service .responsive-box .box .know{
    font-size: 1.5rem;
    color: white;
    background: #1f75aa;
    padding: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 2rem;
    transition:all .5s;
}
.banner-service .responsive-box .box .know:hover{
    background: #f7c519;
}
.banner-service .responsive-box .box figure{
    height: 270px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}
.banner-service .responsive-box .box figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*
@media (max-width: 850px){
    .banner-person{
        padding: 4rem 2rem;
    }
    .banner-person .container-cards{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 5fr);
        gap: 2rem;
    }

*/



/*-----     banner      -------*/
.banner-us{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../images/banner-us.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.banner-us::before{
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    background: #b9d9eb;
    left: 0;
    z-index: 1;
}
.banner-us .us-text{
    width: 70%;
    z-index: 2;
}
.banner-us .us-text figure img{
    display: none;
}
.banner-us .us-text .container-text-us{
    width: 50%;
    background-color: #b9d9eb;
    padding: 3rem 1rem; 
    text-align: left;
}
.banner-us .us-text .container-text-us h2{
    font-size: 3.5rem;
    color: #144c68;
    text-transform: uppercase;
    padding-bottom: .1rem;
}
.banner-us .us-text .container-text-us h1{
    font-size: 2rem;
    color: #1f75aa;
    font-weight: 500;
}
.banner-us .us-text .container-text-us hr{
    width: 30%;
    z-index: 2;
    border: 6px solid #f7c519;
}
.banner-us .us-text .container-text-us p{
    font-size: 1.1rem;
    color: #144c68;
    padding: 1rem 0px;
    font-weight: 100;
}




/*-------       banner-description      --------*/
.banner-description{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #144c68;
}
.banner-description .container-description{
    width: 70%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4 ,1fr);
    padding: 2rem;
}
.banner-description .container-description i{
    font-size: clamp(40px, 3vw, 70px);/*---------------*/
    font-weight: 800;
    color: white;
}
.banner-description .container-description .box-description{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    border-left: 2px solid white;
    padding: 0px 1rem;
}
.banner-description .container-description .description-left{
    border-left: none;
}
.banner-description .container-description .box-description .number{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.banner-description .container-description .box-description h4{
    font-size: clamp(40px, 3vw, 70px);/*---------------*/
    color: white;
    font-weight: 800;
}
.banner-description .container-description .box-description h3{
    color: white;
    font-size: clamp(16px, 2vw, 30px);/*---------------*/
    text-align: center;
    text-transform: capitalize;
    font-weight: 800;
}




/*------        banner-project      --------*/
.banner-project{
    width: 100%;
    min-height: 100vh;
    padding: 1rem 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.banner-project h2{
    font-size: 3rem;
    color: #144c68;
    text-transform: uppercase;
    padding-bottom: .5rem;
}
.banner-project hr{
    width: 10%;
    z-index: 2;
    border: 6px solid #f7c519;
}
.banner-project img{
    padding: 2rem 0px;
    width: 40%;
    object-fit: cover;
}
.banner-project .button-project{
    text-decoration: none;
    color: white;
    background: #1f75aa;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: .5rem 1rem;
}
.banner-project .button-project:hover{
    background: #f7c519;
    transition: all 500ms ease;
}



/*-----     banner-customers    -----*/
.banner-customers{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0px;
    background-color: #b9d9eb;
}
.banner-customers h2{
    font-size: 3.5rem;
    color: #144c68;
    text-transform: uppercase;
    padding-bottom: .5rem;
}
.banner-customers hr{
    width: 10%;
    z-index: 2;
    border: 6px solid #f7c519;
}
.banner-customers .container-customers{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-customers .container-customers .gallery{
    display: grid;
    padding: 3rem 0px;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}
.banner-customers .container-customers .gallery figure{
    width: 100%;
    height: 80px;
    object-fit: cover;
}
.banner-customers .container-customers .gallery figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-customers .container-customers .gallery-second{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-bottom: 2rem;
}
.banner-customers .container-customers .gallery-second figure{
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.banner-customers .container-customers .gallery-second figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/*------    section-banner-attachemt    -----*/
.video-container{
    width: 100%;
    min-height: 80vh;
}
.video-container video{
    top: 100%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
      background-size: cover;
      transition: 1s opacity;
}
.video-container .video-parallax {
    -webkit-transition-position: fixed;
    position: fixed;
}



/*-----     banner-contact      --------*/
.banner-contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background: white;
}
.banner-contact h2{
    font-size: 3rem;
    text-transform: uppercase;
    color: #144c68;
    padding-bottom: .5rem;
}
.banner-contact hr{
    width: 10%;
    z-index: 2;
    border: 6px solid #f7c519;
    margin-bottom: 2rem;
}
.banner-contact .container-map{
    width: 80%;
    height: 80vh;
    padding: 2rem 0px;
}
.banner-contact .container-map iframe{
    width: 100%;
    height: 100%;
}
/*---*/
.banner-contact .container-text{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding: 2rem 0px;
}
.banner-contact .container-text .text{
    display: flex;
    flex-direction: column;
}
.banner-contact .container-text .text h2{
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #f7c519;
}
.banner-contact .container-text .text p{
    padding: 1rem 0px;
    color: #144c68;
    font-size: 1.1rem;
    font-weight: 200;
    text-align: left;
}
.banner-contact .container-text .text a{
    text-decoration: none;
    font-weight: 200;
    font-size: 1.1rem;
    color: #144c68;
    text-align: left;
}
/*------*/




/*-------      section-formulario   -------*/
.section-form{
    width: 100%;
    min-height: 145vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: white;
    padding-bottom: 1rem;
}
.section-form h3{
    font-size: 1.4rem;
    color: #1f75aa;
    text-transform: capitalize;
    padding-bottom: 2rem;
}
.section-form .container-form{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.section-form .container-form form{
    width: 60%;
}
.section-form .container-form form .container-input{
    width: 100%;
    display: grid;
    text-align: left;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem 0px;
}

.section-form .container-form form .container-input .inputs .label-text{
    text-align: left;
    font-size: 1.2rem;
    color: #144c68;
    font-weight: 800;
}
.section-form .container-form form .container-input input{
    height: 50px;
    width: 100%;
    margin-bottom: 2rem;
    border: none;
    border-bottom: 5px solid #144c68;
    font-size: 1.1rem;
    outline: none;
}
.section-form .container-form form .container-input .inputs /*------quitar flechas en input numbers-------*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.section-form .container-form form .container-input .inputs #form-input::placeholder{
    color: #144c68;
    font-size: 1.2rem;
    font-weight: 700;
}
.section-form .container-form form .container-check{
    width: 100%;
}
.section-form .container-form form .container-check h2{
    color: #144c68;
    font-size: 1.3rem;
}
.section-form .container-form form .container-check .check-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding: 1rem 0px;
}
.section-form .container-form form .container-check .check-text .checkbox-text{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-bottom: .3rem;
}
.section-form .container-form form .container-check .check-text .checkbox-text label{
    font-size: 1rem;
    color: #144c68;
    padding-left: .5rem;
    font-weight: 700;
}

.section-form .container-form form .message label{
    font-size: 1.5rem;
    font-weight: 600;
    color: #144c68;
    padding-bottom: 1rem;
}
.section-form .container-form form .title-message{
    font-size: 1.2rem;
    color: #144c68;
    font-weight: 800;
    
}
.section-form .container-form form textarea{
    width: 100%;
    min-height: 80px;
    border: none;
    outline: none;
    resize: none;
    border-bottom: 5px solid #144c68;
    padding: .5rem;
    margin: 1rem 0px;
}
.section-form .container-form form .button-message{
    margin-top: 1rem;
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
    border: none;
    background: none;
    background-color: #1f75aa;
    padding: .7rem 0px;
    transition:all .5s;
}
.section-form .container-form form .button-message:hover{
    background: #144c68;
    cursor: pointer;
}
.section-form .container-form .text-column h2,
.section-form .container-form .text-column h3{
    color: #144c68;
    font-weight: 800;
}



/*------        footer  -------*/
footer{
    width: 100%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}
footer .container-footer{
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
footer .container-footer a{
    font-size: .9rem;
    text-decoration: none;
    color: #1f75aa;
    padding: 1rem 0px;
}
footer .container-footer .icons{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
footer .container-footer .icons a{
    font-size: 2rem;
    color: white;
}
footer .container-footer .icons a i{
    background: black;
    padding: .5rem;
    border-radius: 100%;
}
/*-----*/
footer #ir_arriba_boton button{
    position: fixed;
    bottom: 40%;
    right: 3rem;
    background: none;
    border: none;
    transition: all .6s;
    z-index: 50;
    display: none;
}
footer #ir_arriba_boton button i{
    font-size: 2rem;
    color: white;
    background: #1f75aa;
    padding: .7rem .7rem;
    border-radius: 50%;
}
#ir_arriba_boton .ocultar{
    opacity: 0;
    visibility: hidden;
}
#ir_arriba_boton .mostrar{
    opacity: 1;
    visibility: visible;
}
footer #ir_arriba_boton button:hover{
    cursor: pointer;
    transform: scale(1.1);
}








/*------  nav-links   ------*/
@media (max-width: 1075px){
    header .white{
        width: 30%;
    }
    header .blue{
        width: 80%;
    }
    header .nav{
        width: 100%;
        padding: 0 1rem;
    }
}
@media (max-width:723px){
    /*--*/
    header .white{
        display: block;
    }
    header .blue{
        width: 100%;
    }
    /*------*/
    header .blue .nav{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 5rem;
        height: 100dvh;
        width: 100%;
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: .4s ease-in-out;
    }
    header .blue .nav .menu_item{
        padding-bottom: 1.5rem;    
    }
    header .blue .nav .menu_item .menu_link{
        font-size: 1.5rem;
    }
    header .blue .nav.is-active{
        transform: translateX(0);
    }
    header .hamburger{
        display: block;
        
    }
    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
    background-color: white !important;
    }
    header .nav .nav-icon{
        display: flex;
        width: 90%;
        padding-top: 2rem;
        justify-content: space-between;
    }
    header .nav .nav-icon li a{
        font-size: 1.5rem;
    }

}
/*--------*/
@media(max-width: 971px){
 header .white{
        width: 35%;
    }
    header .blue{
        width: 75%;
    }
}
@media (max-width: 829px){
    header .white{
        width: 40%;
    }
    header .blue{
        width: 65%;
    }
    header .white .icon{
    height: 100%;
    padding: 0 1rem;
}
}
@media (max-width: 663px){
    header .white{
        width: 50%;
        text-align: center;
    }
    header .blue{
        width: 50%;
    }
}
@media (max-width: 789px){
    header .nav{
    padding: 0 .5rem;
}
}
@media(max-width: 533px){
    header .white{
        width: 75%;
        text-align: center;
    }
    header .blue{
        width: 25%;
    }
}

/*----  banner-main-responsive  ----*/
@media (max-width:600px){
    .banner-main video{
        display: none;
    }
    .banner-main{
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .banner-main .container-main{
    width: 100%;
    height: 60vh;
    display: flex;
    background-image: url('../images/index-main.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    }
    .banner-main .container-main h2{
    font-size: 2rem;
    color: #144c68;
    padding-top: 2rem;
    }
    .banner-main .container-main p{
        padding: .5rem 0px;
        color: #1f75aa;
    }
    .banner-main .container-main .arrow-bottom i{
        padding: .5rem;
    }
    
}


/*------    container-box   ------*/
@media (max-width: 1075px){
    .banner-service .container-box{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
}
@media(max-width: 722px){
    .banner-service hr{
    width: 20%;
}
}
@media (max-width: 879px){
    .banner-service .container-box{
    width: 94%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
}
@media (max-width: 700px){
    .banner-service .container-box{
        display: none;
    }
    .banner-service .responsive-box{
        display: grid;
    }
}
@media (max-width: 600px){
    .banner-service .responsive-box{
    padding: 1rem;
}
    .banner-service .responsive-box {
    width: 100%;
}
}
@media (max-width: 428px){
    .banner-service .responsive-box .box .box-text h2{
    font-size: 2rem;
}
}

/*-----     container-banner-us     ------*/
@media (max-width: 791px){
    .banner-us .us-text{
    width: 100%;
    z-index: 2;
}
    .banner-us .us-text .container-text-us{
    width: 60%;
    background-color: #b9d9eb;
    padding: 3rem 1rem;  
}
}



/*------    section-us-responsive   ------*/
@media(max-width: 670px){
        /*------    responsive-banner-us    -----*/
    .banner-us{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: none;
    }
    .banner-us::before{
        display: none;
    }
    .banner-us .us-text .container-text-us{
        width: 100%;
        padding: 1rem;
       background-color: white;
    }
    .banner-us .us-text{
        width: 100%;
        padding: 1rem .5rem;
        display: flex;
        flex-direction: column;
    }
    .banner-us .us-text figure{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .banner-us .us-text figure img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: flex;
    }
    .banner-us .us-text .container-text-us h2{
        font-size: 3rem;
    }

}


/*------    section-customers   ------*/
@media (max-width: 1075px){
.banner-description .container-description{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
}

/*------     banner-description     -----*/
@media(max-width: 587px){
   .banner-description .container-description{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
} 
.banner-description .container-description{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 1rem;

}
.banner-description .container-description .box-description{
    border-left: 0px;
}
}

/*-----     banner-project  -------*/
@media (max-width: 723px){
    .banner-project hr{
    width: 20%;

}
}
@media (max-width: 600px){
.banner-project{
    width: 100%;
    min-height: 0px;
    padding: 1rem 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
}


/*-----     banner-customers    -----*/
@media (max-width: 700px){
    .banner-customers .container-customers{
    width: 100%;
    padding: 1rem;
}
}
@media (max-width: 723px){
    .banner-customers hr{
    width: 30%;
}
}
@media (max-width: 600px){
    .banner-customers .container-customers .gallery{
    display: grid;
    padding: 3rem 0px;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.banner-customers .container-customers .gallery-second{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding-bottom: 2rem;
}
}


/*------    container-map   -----*/
@media (max-width: 723px){
    .banner-contact hr{
    width: 30%;
}
}
@media (max-width: 700px){
    .banner-contact{
    padding: 1rem;
}
    .banner-contact .container-map{
    width: 100%;
    height: 80vh;
    padding: 1rem 0px;
}
}
/*-----     banner-contact  ------*/

/*-----     section-form    -----*/
@media (max-width: 1075px){
    .banner-us .us-text{
    width: 100%;
    z-index: 2;
}
}

@media(max-width: 853px){
    .banner-contact .container-text{
    width: 95%;
}
.banner-contact .container-text{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    padding: 3rem 0px;
}
}
@media (max-width: 845px){
    .section-form .container-form{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.section-form .container-form form{
    width: 100%;
    padding: 1rem 2rem;
}
}
/*-----     container-text  ------*/
@media(max-width: 520px){
    .section-form .container-form form .container-input{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: .5rem;
}
}

/*------    footer    ------*/
@media (max-width:725px){
    footer .container-footer{
    width: 100%;
     padding: .5rem;
}
}
@media(max-width:515px){
footer .container-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

}


/*------    banner-video-container phone -------*/
@media(max-width: 700px){
    .video-container{
        display: none;
    }
}

/*-----     icono-flotante  ------*/
@media (max-width: 525px){
.banner-main .icon-float{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}
footer #ir_arriba_boton button{
    right: 1rem;
}
}

/*------    boton   -----*/
@media (max-width: 723px){
    footer #ir_arriba_boton button{
    display: block;
}
}


/*------  provicional codigo para el condenado efecto instalar   -------*/
.fade-out {
  opacity: 0;
  transition: opacity 0.8s ease;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}


